services:
  cloudflared:
    image: ${CLOUDFLARED_IMAGE:-cloudflare/cloudflared:latest}
    container_name: ${CLOUDFLARED_CONTAINER_NAME:-cloudflared-tunnel}
    command: tunnel --url http://${CLOUDFLARED_TARGET:-traefik:80}
    networks:
      - ${EXTERNAL_NETWORK:-web}
    restart: unless-stopped

networks:
  web:
    external: true