services:
  n8n:
    image: n8nio/n8n
    container_name: n8n
    environment:
      - N8N_LOG_LEVEL=info
      - GENERIC_TIMEZONE=Africa/Johannesburg
      - TZ=Africa/Johannesburg
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - N8N_SECURE_COOKIE=false
      - N8N_EDITOR_BASE_URL=https://dark-universe-chronic-waiting.trycloudflare.com/
      - WEBHOOK_URL=https://dark-universe-chronic-waiting.trycloudflare.com/
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./n8n_data:/home/node/.n8n
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.rule=PathPrefix(`/`)
      - traefik.http.routers.n8n.entrypoints=web
      - traefik.http.services.n8n.loadbalancer.server.port=5678
    restart: unless-stopped

networks:
  web:
    external: true

volumes:
  n8n_data:
    driver: local